@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body {
    margin: 0 auto;
}

.roboto {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

.menu {
    font-size: 10px;
    color: white;
    background-color: #1f2937;
    display: flex;
    height: 4rem;
    justify-content: space-around;
    padding-top: 20px;
}

.he {
    display: flex;
}

.header {
    margin-right: 1rem;
    margin-left: 10rem;
}

.link1 {
    margin-right: 1rem;
}

.box {
    color: white;
    background-color: #1f2937;
    display: flex;
    justify-content: space-evenly;
    padding: 3rem;
    padding-left: 9rem;
    padding-right: 9rem;
}


.hero {
    flex-direction: column;
    font-size: 48px;
    font-weight: 900;
}


.hero2 {
    font-size: 18px;
    color: #E5E7EB;
}

button {
    background-color: #3882f6;
    color:white;
    /* border-bottom: #E5E7EB;
    border-color: #E5E7EB; */
    position: relative;
    font-size: 20px;
}

.info {
    margin: 20px;
    display: flex;
    justify-content: center;
    font-size: 36px;
    padding: 3rem;
}

.fotos{
    display: flex;
    justify-content: space-evenly;
    padding: 0 8rem;

}

.quote {
    background-color: #a3a5a9;
    /* opacity: 0.5; */
    flex-direction: column;
}

.quote1 {
    font-style: italic;
    display: flex;
    padding: 9rem;
    margin-top: 7rem;
    font-weight: 300;
    flex-direction: inherit;
}

.quote2 {
    
}

img {
    border-radius: 20%;
}


.call {
    display: flex;
    justify-content: center;
    background-color: #3882f6;
    padding: 3rem;
    margin: 6rem 7rem 7rem 7rem;
    color: white;
    display: flex;
    flex-direction: column;  
}



.c1 {
    font-size: 22px;
    font-weight: 700;
    
}

.c2{
    font-size: 10px;
    font-weight: 300;
}

.cierre{
    background-color: #1f2937;
    color: white;
    padding: 20px;
    font-size: 10px;
    font-weight: 100;
    display: flex;
    justify-content: center;
}

#boton {
    bottom: 20px;
    left: 28rem;
    outline: #E5E7EB;
}